<!DOCTYPE html>
<html ng-app="quang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quang</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/lumx.css" rel="stylesheet" />
    <link href="~/Content/styles/quang.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <header id="header" class="header">
        @Html.Partial("_Header")
    </header>

    <main id="main" class="main">
        @RenderBody()
    </main>

    <footer id="footer" class="footer"></footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/velocity.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/lumx.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
